.info {
  @include flex-col;
  gap: 1rem;
  background-color: $color-secondary;

  &__header {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    gap: 3rem;

    &--date {
      width: 9.2rem;
    }
    &--desc {
      flex: 1;
    }
  }

  &__element {
    @include border;
    @include center;
    border-radius: 0.3rem;
    display: flex;
    gap: 3rem;
    padding: 0 1rem;
  }

  &__date {
  }

  &__price {
  }

  &__description {
    flex: 1;
  }

  &__delete {
    height: 4rem;
    width: 3rem;
    padding: 1rem 0;
    z-index: 1;

    &--btn {
      @include del-btn;
      position: relative;
      transition: all 0.3s;

      &::after {
        top: 0.9rem;
      }

      &::before {
        top: 0.9rem;
      }
    }

    &:hover &--btn::before {
      transform: rotate(45deg);
      transform-origin: center;
    }
    &:hover &--btn::after {
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }
}
