.password {
  display: flex;
  gap: 4rem;
  max-width: 120rem;
  margin: 5rem auto;
  background-color: #f5f5f5;
  border-radius: 6px;
  padding: 4rem;

  &__app {
    @include flex-col;
    gap: 2rem;
    flex: 3;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__labels {
    @include flex-col;
    align-items: flex-end;
  }

  &__labels * {
    height: 4.5rem;
    display: flex;
    align-items: center;
  }

  &__inputs {
    @include flex-col;
    gap: 1rem;
    flex: 1;
  }

  &__fields {
    display: flex;
    gap: 1rem;
  }

  &__input {
    @include center;
    display: flex;
    flex: 1;
    gap: 1rem;
  }

  &__website,
  &__password {
    display: flex;
    gap: 1rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__list {
    @include flex-col;
    background-color: #fff;
    flex: 2;

    padding: 2rem;
    cursor: pointer;
  }

  &__list-item {
    @include center;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 0.3rem;
    display: flex;
    gap: 0.5rem;
    user-select: none;
  }

  &__list-item li {
    flex: 1;
  }
}
