*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

.background {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}
