.container {
  background: linear-gradient(to right, #cd116f5b, #08032c91);
  border-bottom: 1px solid #cd116f;
  padding: 2rem;
  position: sticky;
  top: 0;
}

.navigation {
  max-width: 140rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;

  &__links {
    display: flex;
    gap: 3.5rem;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    width: 6rem;
    height: 2rem;
  }
}
