.container {
  background-color: $color-primary;
  padding: 2rem;
}

.navigation {
  max-width: 140rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;

  & a {
    color: white;
    text-decoration: none;
  }

  & a:hover {
    color: $color-true;
  }

  &__links {
    display: flex;
    gap: 3.5rem;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    width: 6rem;
    height: 2rem;
  }
}
