.newTodo {
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  align-items: flex-end;
  background-color: $color-secondary;

  &__input {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__filter {
    display: flex;
    flex-direction: column;
  }
}
