.todoItem {
  display: flex;
  align-items: center;
  @include border;
  background-color: $color-false;
  padding: 1rem;
  font-size: 2rem;
  gap: 2rem;

  &__task {
    flex: 1;
  }

  &__checkbox {
    flex: 0;
    transform: scale(1.5);
    margin-left: 1rem;
  }

  &__checkbox:checked + &__task {
    text-decoration-line: line-through;
  }

  &:has(&__checkbox:checked) {
    background-color: $color-true;
  }
}
